@use "../variables" as *;
.card {
  height: min-content;
  margin: 1rem auto;
  text-align: center;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.062) 0px 6px 12px -2px,
    rgba(49, 46, 214, 0.075) 0px 15px 15px -3px;
  > img {
    margin: 3rem 0 2rem;
    width: 6.5rem;
  }
  article {
    h3 {
      font-size: 1.23rem;
      font-weight: 600;
      color: $very-dark-blue;
      margin-bottom: 0.7rem;
    }
    p {
      font-size: .9rem;
      color: $grayish-blue;
      font-weight: 400;
      margin-bottom: .3rem;
    }
    img {
      margin-top: 2rem;
      width: 100%;
    }
    .button-install {
      background-color: $soft-blue;
      color: white;
      margin: 1.4rem 0 1.5rem;
      padding: 1rem 2.5rem;
    }
  }
}