@use './variables' as *;
@use './mixins' as *;
%flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
%h2{
  @include font(1.5rem,500,$very-dark-blue);
  text-align: center;
}
%p-description{
  @include aling-height(center,1.7);
  color: $grayish-blue;
  font-size: .95rem;
}
%back-blue{
  content: "";
  position: absolute;
  background-color: $soft-blue;
  bottom: 0;
  z-index: -1;
}
%social-hover{
  img {
    transition: filter 0.2s;
    &:hover {
      cursor: pointer;
      filter: invert(46%) sepia(94%) saturate(1503%) hue-rotate(326deg)
        brightness(97%) contrast(104%);
    }
  }
}